<div class="row">
  <div class="col-md-12">

    <h2 class="red title bold">
      Ejemplos de Registros
    </h2>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Ejemplos de registros para Elementos Raíz de PBCore</h3>
    <p>Aquí se pueden encontrar algunos modelos de registros de PBCore para cada <a href="/elements/root">root element</a>, tanto en XML como en un formato legible por humanos. Entre ellos se incluyen modelos para un registro de PBCore de Recurso, un registro de PBCore de Instanciación, un registro de PBCore de Recurso que agrupa múltiples Instanciaciones, y un registro de PBCore de Colección que agrupa múltiples recursos. Se pueden utilizar estos registros para ver de qué modo se pueden implementar los conceptos de PBCore en situaciones del mundo real. Seleccione el Elemento Raíz del cual le gustaría ver un ejemplo.</p>
  </div>
</div>

<div class="row">

  <div class="col-md-3 red">
    <div class="row">
      <p>
        <a href="/sample-records/minimal-description-document" {% if page.title == "Minimal Description Document" %}class="highlight"{% endif %}>Documento de Descripción Mínimo</a>
      </p>
    </div>
    <div class="row">
      <p>
        <a href="/sample-records/minimal-instantiation-document" {% if page.title == "Minimal Instantiation Document" %}class="highlight"{% endif %}>Documento de Instanciación Mínimo</a>
      </p>
    </div>
  </div>

  <div class="col-md-3 red">
    <div class="row">
      <p>
        <a href="/sample-records/description-document-with-instantiations" {% if page.title == "Description Document With Instantiations" %}class="highlight"{% endif %}>Documento de Descripción</a>
      </p>
    </div>
    <div class="row">
      <p>
        <a href="/sample-records/collection-document" {% if page.title == "Collection Document" %}class="highlight"{% endif %}>Documento de Colección</a>
      </p>
    </div>
  </div>

  <div class="col-md-3 red">
    <div class="row">
      <p>
        <a href="/sample-records/physical-instantiation-document" {% if page.title == "Physical Instantiation Document" %}class="highlight"{% endif %}>Documento de Instanciación Física</a>
      </p>
    </div>
    <div class="row">
      <p>
        <a href="/sample-records/digital-instantiation-document" {% if page.title == "Digital Instantiation Document" %}class="highlight"{% endif %}>Documento de Instanciación Digital</a>
      </p>
    </div>
  </div>

  <div class="col-md-3 red">
    <div class="row">
      <p>
        <a href="/sample-records/description-document-with-pbcore-parts" {% if page.title == "Description Document With Pbcore Parts" %}class="highlight"{% endif %}>Documento de Descripción con Partes de PBCore</a>
      </p>
    </div>
    <div class="row">
      <p>
        <a href="/sample-records/description-document-with-instantiation-parts" {% if page.title == "Description Document With Instantiation Parts" %}class="highlight"{% endif %}>Documento de Descripción con Parte de Instanciación</a>
      </p>
    </div>
  </div>

</div>
